.single{
    display: flex;
    width: 100%;
    
    .singleContainer{
        flex: 6;

        .top{
            padding: 20px;
            display: flex;
            gap: 20px;

            .left{
                flex: 1;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 20px;
                

                .item{
                    display: flex;
                    gap: 20px;

                    .itemImg{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .details{
                        .itemTitle{
                            margin-bottom: 10px;
                            color: #555;
                        }

                        .detailItem{
                            margin-bottom: 10px;
                            font-size: 14px;

                            .itemKey{
                                font-weight: bold;
                                color: gray;
                                margin-right: 5px;
                            }

                            .itemValue{
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

            .right{
                flex: 2;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 20px;

                .rightInputs{
                    padding: 15px;
                    margin-bottom: 60px;
                    display: flex;

                    .inputItem{
                        .inputKey{
                            font-weight: bold;
                            color: gray;
                        }

                        input{
                            border: none;
                            outline: none;
                            background-color: lightgray;
                            border-radius: 10px;

                        }
                    }

                }

                .buttonAdd{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                    width: 100px;
                    padding: 2px 5px;
                    border-radius: 10px;
                    background-color: rgb(209, 255, 209);
                    color: darkgreen;
                    border: 1px dotted rgba(0, 139, 32, 0.342);
                    cursor: pointer;
                }
            }
        }
        .bottom{
            max-height: 100%;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 10px 20px;
            
            .bottomInfo{
                display: flex;
                flex-direction: column;
                max-width: 100%;
                padding: 20px;
                border-radius: 10px;
                background-color: rgb(240, 240, 240);

                .date{
                    margin-bottom: 15px;

                    .datePacient{
                        font-size: 20px;
                        font-weight: bold;
                        color: gray;
                        margin-bottom: 5px;
                    }

                    .historyInfo{
                        padding: 5px;
                        font-size: 14px;
                        background-color: rgba(211, 211, 211, 0.956);
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    

    .title{
        font-size: 16px;
        color: darkgray;
        margin-bottom: 20px;
    }
}